/* .singlemovie-img {
    width: 100%;
} */

.singlemovie-container {
    display: flex;
}

.single-movie-wrapper {
    height: 100vh;

}
.singlemovie-poster {
    height: 50vh;
    max-height: 100%;
}

.singlemovie-title{
    font-size: 3rem;
}

.single-movie-info-container {
    margin-left: 3rem;
}

.about-movie {
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem 0 .7rem 0;
}

.single-movie-info {
    margin-top: 1rem;
}

/* .movie-genre {

} */

.movie-bold-text {
    font-weight: 700;
}

.movie-tag {
    font-size: 1.5rem;
    /* text-justify: newspaper; */
}

/* ------------------------------- */
/* -----------DARK MODE---------- */
/* ------------------------------- */

#darkMode .fav-icon {
    color: #e8eaed;
}