* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* main {
    border: 1px solid green;
} */

.movies {
    width: 100%;
    display: flex;
    column-gap:2rem;
    row-gap: 3rem;
    flex-wrap: wrap;
    justify-content: flex-start;

    /* display: grid;
    grid-template-columns: repeat( 6, 1fr);
    gap: 1.5rem 2rem;
    margin-top: 2rem; */
   
}
.movie-card {
   width: 100%;
    background-clip: initial;
    /* width: 250px; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    outline-color: transparent;
    outline-style: solid;
    outline-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 10px, rgba(0, 0, 0, 0.03) 0px 0px 2px;
    /* height: 300px; */
    height: auto;
    /* height: 30vh; */
    position: relative;
    transition: .3s ease-in-out;
    
}

.movie-card:hover {
    transform: scale(1.15);
     box-shadow: rgb(141, 141, 141) 0px 20px 20px;
}



.movie-card > .rating-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

     background-color: rgb(109, 241, 20);
    width: 2rem;
    height: 2rem;
    border-radius: 80%;

}
.movie-card > div {
    max-width: 200px;
} 

.rating {
    font-size: .9vw;
    font-weight: bold;
    /* width: fit-content; */
   

}
.rating-wrapper {
    color: #fff;
    margin: .3rem;
}

.movie-img {
    width: 100%;
    max-width: 100%;
    /* max-height: 100%;  */
    object-fit: cover;
    object-position: center;
    /* max-height: 300px; */
    height: 250px;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.movie-info {

    /* width: auto;  */
    padding: 0 .2rem;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 4rem; /* Check this one */
    position: relative;
    z-index: 1;
 
} 

/* .movie-title { */
     /* width: -moz-fit-content; */
  /* width: fit-content; */
  /* font-size: 1vw; */
  /* word-wrap: break-word; */
    /* width: 100%; */
   
/* } */

.movie-link {
    text-decoration: none;
    color: inherit;

}

/* ------------------------------------ */
/* --------------DARK MODE ----------- */
/* ------------------------------------ */

#darkMode .cat-btn {
    background-color: #3c4043;
    color: #e8eaed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}